{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="background-image-container">
    <img src="{{ MEDIA_URL }}jude_infantini_2_unsplash.jpg" alt="Rock face texture image">
</div>


<!-- Brand Title -->
<div>

</div>

<!-- App Navigation -->
<div id="home-app-navigation">
    <a href="">
        <img class="" src="{{ MEDIA_URL }}goat_1.png" alt="Button 1">
    </a>
    <a href="">
        <img class="" src="{{ MEDIA_URL }}goat_2.png" alt="Button 2">
    </a>
    <a href="">
        <img class="" src="{{ MEDIA_URL }}goat_3.png" alt="Button 3">
    </a>
</div>

<!-- Extra Links -->
<div>

</div>
{% endblock %}