{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div id="background-image-container">
    <img src="{{ MEDIA_URL }}jude_infantini_2_unsplash.jpg" alt="Rock face texture image">
</div>

<!-- style="background-image: url('{% static "images/33.jpg"%}')" -->
<!-- Brand Title -->

<div>
    <ul id="login-logout-signup">
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
        <li><a href="{% url 'account_login' %}">Login</a></li>
        <li><a href="{% url 'account_signup' %}">Signup</a></li>
    </ul>
</div>

<div  id="home-app-title">
    <h1>
        Billy
    </h1>
</div>

<!-- App Navigation -->
<div id="home-app-navigation">
    <a href="" style="background-image: url('{{ MEDIA_URL }}goat_1.png')" alt="Button 1"></a>
    <a href="{% url 'shop' %}" style="background-image: url('{{ MEDIA_URL }}goat_2.png')" alt="Button 2"></a>
    <a href="" style="background-image: url('{{ MEDIA_URL }}goat_3.png')" alt="Button 3"></a>
</div>

<!-- Extra Links -->
<div>

</div>
{% endblock %}